# Ignore logs directory
logs/
dist
build
.eggs
__pycache__/

# Ignore all .log files
*.log

movie_data_cache.json
feeds.json
settings.json
read_articles.json
group_settings.json
# Ignore virtual environments
venv/
ENV/
env/
