PyQt5>=5.12
PyQtWebEngine>=5.12
feedparser>=6.0.0
omdbapi>=0.5.0
beautifulsoup4>=4.12.0
requests>=2.31.0
setuptools==71.0.0
jaraco.text>=4.0.0
jaraco.context>=6.0.1
jaraco.functools>=4.1.0
py2app
keyring
pytest
pytest-qt
